<p style='text-align: center'>
  <%= image_tag('ben-lily.jpeg') %>
</p>
<h1> Congratulations <%= @user.first_name %>,</h1>


<h3> You've just visited the best page in the world </h3>

<p> Actually, it's not the best page in the world, this is just a tribute.</p>

<p> But you can login with:</p>

<p> <%= @user.email %></p>

<p> Thanks for visiting. See you soon.</p>