<div class="page-header">
  <% if current_user.try(:is_admin?) %>
    <div class='pull-right'>
      <%= link_to new_post_path, class: 'btn btn-success' do %>
        <span class='glyphicon glyphicon-asterisk'></span>
        New Post
      <% end %>
    </div>
  <% end %>
  <h1 class='text-center'>
    My random thoughts
    <small> <%= pluralize(@posts.count, 'post') %> </small>
  </h1>
</div>

<% @posts.each do |post| %>
  <%= render 'posts/post_display', post: post %>
  <hr />
<% end %>


