$bg: darken( $blue, 10%);
$content-width: 980px;

@mixin rounded-corners($height: 10px ){
  border-radius: $height;
}

body{
  background: image-url("global/sos.png");
}

footer p{
  text-align: center;
  color: white;
  text-shadow: 1px 1px #1d1d1d;
}

.featured{
  h2 a{color: red;}
}
